/*
 * Box-sizing-model
 */
 *,
 *:before,
 *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 /*
  * Responsive images
 */
 img {
   max-width: 100%;
   height: auto;
 }
 /*
  * Cursor change on hover on Buttons
 */
 input[type="submit"] {
   cursor: pointer;
 }
 /*
  * A better looking default horizontal rule
  */
 hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
 }
 /*
  * Allow only vertical resizing of textareas.
  */
 textarea {
   resize: vertical;
 }
 /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
 .clearfix:before,
 .clearfix:after {
   content: " ";
   /* 1 */
   display: table;
   /* 2 */
 }
 .clearfix:after {
   clear: both;
 }
 .clear {
   clear: both;
   height: 0;
   width: 0;
   visibility: hidden;
 }
 /* ==========================================================================
    Browser Upgrade Prompt
    ========================================================================== */
 .browserupgrade {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
 }
 html,
 body {
   height: 100%;
   min-width: 320px;
   background: #fcfdfd;
   margin: 0;
 }
 html {
   font-size: 10px;
   line-height: 1.4;
 }
 body {
   font-size: 1.6rem;
   /* 10px * 1.6 = 16px */
   font-family: 'Noto Sans';
 }
 p {
   font-size: 14px;
   line-height: 22px;
   color: #000;
 }
 @media (min-width: 768px) {
   p {
     font-size: 16px;
     line-height: 28px;
   }
 }
 /*==========  Desktop First Method  ==========*/
 /* Large Devices, Wide Screens - adaptive styles bofore 1200px */
 /* Medium Devices, Desktops - adaptive styles bofore 992px */
 /* Small Devices, Tablets - adaptive styles bofore 768px */
 /* Extra Small Devices, Phones - adaptive styles bofore 480px */
 /* Custom, iPhone Retina - adaptive styles bofore 320px */
 .navigation {
   font-size: 22px;
   font-weight: 700;
   text-transform: uppercase;
   top: 51px;
   left: 0;
   right: 0;
 }
 @media (min-width: 768px) {
   .navigation {
     position: absolute;
   }
 }
 .navigation .navigation__toggle {
   display: block;
   font-size: 38px;
   position: absolute;
   top: 25px;
   cursor: pointer;
   right: 17px;
   z-index: 2;
 }
 @media (min-width: 768px) {
   .navigation .navigation__toggle {
     display: none;
   }
 }
 .navigation .navigation__toggle--fixed {
   position: fixed;
 }
 .navigation ul.navigation__list {
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-align: center;
   display: none;
   z-index: 1;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(255, 153, 81, 0.96);
 }
 .navigation ul.navigation__list--open {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 @media (min-width: 768px) {
   .navigation ul.navigation__list {
     display: block;
     position: absolute;
     top: 60;
   }
 }
 .navigation ul.navigation__list li {
   margin: 0 0 40px;
   padding: 0;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 @media (min-width: 768px) {
   .navigation ul.navigation__list li {
     margin: 0;
     padding: 0;
     display: inline-block;
     margin-right: 100px;
   }
   .navigation ul.navigation__list li:last-child {
     margin-right: 0;
   }
 }
 .navigation a {
   color: #fff;
   text-decoration: none;
 }
 .navigation a:hover {
   transition: all 0.5s ease-in-out;
   color: #fff;
 }
 .navigation a:focus,
 .navigation a:active {
   color: #fff;
 }
 .navigation__toggle--fixed a:hover {
   color: #fff;
 }
 .fa.fa-bars {
   color: #ff9951;
 }
 .link {
   text-decoration: none;
 }
 .link:hover {
   transition: all 0.5s ease-in-out;
   color: #ff9951;
 }
 .link:focus,
 .link:active {
   color: #ff9951;
 }
 .link--underline-effect {
   position: relative;
   display: inline-block;
 }
 .link--underline-effect:before {
   content: "";
   position: absolute;
   bottom: 0;
   background: #ef6c00;
   height: 2px;
   left: auto;
   right: 0;
   width: 0px;
   -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
   transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
 }
 .link--underline-effect:hover:before {
   width: 100%;
   right: auto;
   left: 0;
 }
 .user-photo {
   overflow: hidden;
   height: 110px;
   width: 110px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 27px;
   -webkit-border-radius: 80px;
   border-radius: 80px;
   background-image: url("../img/placeholders/user-avatar-placeholder-small.jpg");
   background-repeat: no-repeat;
   background-position: center;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
 .user-photo--big {
   max-width: 100%;
   height: auto;
   -webkit-border-radius: 110px;
   border-radius: 110px;
   background-image: url("../img/placeholders/user-avatar-placeholder-big.jpg");
 }
 @media (min-width: 1200px) {
   .user-photo--big {
     width: 205px;
     height: 205px;
   }
 }
 .user-photo--shadow {
   box-shadow: 0px 0px 40px 0px #48779f;
 }
 .user-photo--shadow:hover {
   box-shadow: 2px 1px 10px #ef6c00;
   transition: all 0.7s ease-in-out;
   color: #FFF;
 }
 a.mouse_scroll {
   display: block;
   margin: 0 auto;
   width: 24px;
   height: 100px;
   position: absolute;
   bottom: 2rem;
   left: 50%;
   margin-left: -12px;
   -webkit-animation-delay: 1.2s;
   -moz-animation-delay: 1.2s;
   -o-animation-delay: 1.2s;
   animation-delay: 1.2s;
   cursor: pointer;
 }
 @media screen and (max-width: 768px) {
   a.mouse_scroll {
     height: 50px;
     bottom: 2rem;
   }
 }
 a.mouse_scroll:active,
 a.mouse_scroll:focus {
   outline: none;
 }
 .m_scroll_arrows {
   display: block;
   width: 5px;
   height: 5px;
   -ms-transform: rotate(45deg);
   /* IE 9 */
   -webkit-transform: rotate(45deg);
   /* Chrome, Safari, Opera */
   transform: rotate(45deg);
   border-right: 2px solid #ff9951;
   border-bottom: 2px solid #ff9951;
   margin: 0 0 3px 4px;
   width: 16px;
   height: 16px;
 }
 .unu {
   margin-top: 1px;
 }
 .unu,
 .doi,
 .trei {
   -webkit-animation: mouse-scroll 1s infinite;
   -moz-animation: mouse-scroll 1s infinite;
 }
 .unu {
   -webkit-animation-delay: .1s;
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
 }
 .doi {
   -webkit-animation-delay: .2s;
   -moz-animation-delay: .2s;
   -webkit-animation-direction: alternate;
   margin-top: -6px;
 }
 .trei {
   -webkit-animation-delay: .3s;
   -moz-animation-delay: .3s;
   -webkit-animation-direction: alternate;
   margin-top: -6px;
 }
 .mouse {
   height: 42px;
   width: 24px;
   border-radius: 14px;
   transform: none;
   border: 2px solid #ff9951;
   top: 170px;
   display: none;
 }
 @media (min-width: 768px) {
   .mouse {
     display: block;
   }
 }
 .wheel {
   height: 5px;
   width: 2px;
   display: block;
   margin: 5px auto;
   background: #ff9951;
   position: relative;
   height: 4px;
   width: 4px;
   border: 2px solid #ff9951;
   -webkit-border-radius: 8px;
   border-radius: 8px;
 }
 .wheel {
   -webkit-animation: mouse-wheel 0.6s linear infinite;
   -moz-animation: mouse-wheel 0.6s linear infinite;
 }
 @-webkit-keyframes mouse-wheel {
   0% {
     opacity: 1;
     -webkit-transform: translateY(0);
     -ms-transform: translateY(0);
     transform: translateY(0);
   }
   100% {
     opacity: 0;
     -webkit-transform: translateY(6px);
     -ms-transform: translateY(6px);
     transform: translateY(6px);
   }
 }
 @-moz-keyframes mouse-wheel {
   0% {
     top: 1px;
   }
   25% {
     top: 2px;
   }
   50% {
     top: 3px;
   }
   75% {
     top: 2px;
   }
   100% {
     top: 1px;
   }
 }
 @-webkit-keyframes mouse-scroll {
   0% {
     opacity: 0;
   }
   50% {
     opacity: .5;
   }
   100% {
     opacity: 1;
   }
 }
 @-moz-keyframes mouse-scroll {
   0% {
     opacity: 0;
   }
   50% {
     opacity: .5;
   }
   100% {
     opacity: 1;
   }
 }
 @-o-keyframes mouse-scroll {
   0% {
     opacity: 0;
   }
   50% {
     opacity: .5;
   }
   100% {
     opacity: 1;
   }
 }
 @keyframes mouse-scroll {
   0% {
     opacity: 0;
   }
   50% {
     opacity: .5;
   }
   100% {
     opacity: 1;
   }
 }
 .section {
   padding-top: 35px;
   padding-bottom: 40px;
 }
 @media (min-width: 768px) {
   .section {
     padding-top: 52px;
     padding-bottom: 60px;
   }
 }
 @media (min-width: 1200px) {
   .section {
     padding-top: 83px;
     padding-bottom: 90px;
   }
 }
 .section--padding-smaller {
   padding-top: 30px;
   padding-bottom: 35px;
 }
 @media (min-width: 768px) {
   .section--padding-smaller {
     padding-top: 50px;
     padding-bottom: 60px;
   }
 }
 @media (min-width: 1200px) {
   .section--padding-smaller {
     padding-top: 65px;
     padding-bottom: 67px;
   }
 }
 .section--bottom-line {
   border-bottom: 1px solid #ff9951;
 }
 .section--bg-laptop {
   background-repeat: no-repeat;
   background-position: right 70%;
 }
 @media (min-width: 1500px) {
   .section--bg-laptop {
     background-image: url("../img/bg/laptop.png");
   }
 }
 .section--bg-gear {
   background-repeat: no-repeat;
   background-position: left 55%;
 }
 @media (min-width: 1500px) {
   .section--bg-gear {
     background-image: url("../img/bg/gear.png");
   }
 }
 .section--bg-cloud {
   background-repeat: no-repeat;
   background-position: right 70%;
 }
 @media (min-width: 1500px) {
   .section--bg-cloud {
     background-image: url("../img/bg/cloud.png");
   }
 }
 .heading {
   font-size: 32px;
   color: #ef6c00;
   margin: 0 0 9px;
   font-weight: 700;
 }
 @media (min-width: 768px) {
   .heading {
     font-size: 42px;
     margin: 0 0 19px;
   }
 }
 .heading--padding-top {
   padding-top: 7px;
 }
 .heading--medium {
   line-height: 28px;
   font-size: 24px;
   margin: 17px 0 15px;
   color: #000;
 }
 .heading--resume-desc {
   margin-bottom: 0;
   font-weight: 400;
 }
 .heading--resume-desc .heading--user-name {
   font-size: 18px;
   font-weight: 700;
   line-height: 28px;
   color: #000;
 }
 .heading--center {
   text-align: center;
 }
 .heading--white {
   color: #FFF;
 }
 .definition-list {
   margin: 0 0 14px;
   padding: 0;
   list-style-type: none;
   margin-bottom: 43px;
 }
 .definition-list__item {
   margin: 0 0 13px;
   padding: 0;
 }
 .definition-list__item--mb43 {
   margin-bottom: 43px;
 }
 .definition-list__def {
   font-size: 14px;
   line-height: 26px;
   font-weight: 700;
   color: #ef6c00;
   text-transform: uppercase;
 }
 .definition-list__def--lighter-bigger {
   color: #ef6c00;
   font-size: 16px;
 }
 .definition-list__desc {
   font-size: 14px;
   line-height: 26px;
 }
 .definition-list__desc a {
   text-decoration: none;
   border-bottom: 1px dotted #000;
   color: #000;
 }
 .definition-list__desc a:hover {
   color: #ff9951;
   transition: all 0.3s ease-in-out;
   border-bottom: 1px dotted #ff9951;
 }
 @media (min-width: 768px) {
   .definition-list__desc {
     font-size: 16px;
   }
 }
 .button {
   display: inline-block;
   box-shadow: 2px 1px 10px #ff9951;
   font-size: 16px;
   font-weight: 700;
   color: #FFF;
   padding: 11px 26px 14px;
   background-color: #ef6c00;
   -webkit-border-radius: 60px;
   border-radius: 60px;
 }
 .button .fa {
   font-size: 18px;
   margin-right: 5px;
 }
 .button--download {
   display: inline-block;
   background-color: #ff9951;
   color: #FFF;
   transition: all 0.4s ease-in-out;
 }
 .button--download:hover,
 .button--download:focus {
   text-decoration: none;
   background-color: #ef6c00;
   color: #FFF;
 }
 .button--download:active {
   text-decoration: none;
   background-color: #ef6c00;
   color: #FFF;
 }
 .header__button {
   margin-top: 30px;
   display: inline-block;
   background-color: #ff9951;
   color: #FFF;
   transition: all 0.4s ease-in-out;
   font-size: 16px;
   font-weight: 700;
   box-shadow: 2px 1px 10px #ff9951;
   padding: 11px 26px 14px;
   -webkit-border-radius: 60px;
   border-radius: 60px;
 }
 .header__button:hover,
 .header__button:focus {
   text-decoration: none;
   background-color: #ef6c00;
   color: #FFF;
 }
 .header__button:active {
   text-decoration: none;
   background-color: #ef6c00;
   color: #FFF;
 }
 .social-icons {
   font-size: 32px;
   padding-top: 19px;
 }
 .social-icons a {
   text-decoration: none;
   border-bottom: none !important;
 }
 .social-icons .fa {
   margin-right: 30px;
 }
 .social-icons .fa:last-child {
   margin-right: 0;
 }
 .contact-form__input {
   color: #ff9951;
   font-size: 16px;
   font-weight: 700;
   width: 100%;
   margin-bottom: 10px;
   padding: 10px 19px;
   border: none;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   background-color: #FFF;
   border: 3px solid #fff;
   -webkit-transition: border-color 0.3s ease-in;
   -moz-transition: border-color 0.3s ease-in;
   -ms-transition: border-color 0.3s ease-in;
   -o-transition: border-color 0.3s ease-in;
   transition: border-color 0.3s ease-in;
 }
 .contact-form__input:hover,
 .contact-form__input:active,
 .contact-form__input:hover {
   border: 3px solid #ef6c00;
 }
 .contact-form__input:focus {
   outline: none;
 }
 .contact-form__input--half-width {
   float: left;
   width: 49%;
   margin-right: 2%;
 }
 .contact-form__input--half-width:last-of-type {
   margin-right: 0;
 }
 .contact-form__textarea {
   color: #ef6c00;
   font-size: 16px;
   font-weight: 700;
   width: 100%;
   height: 128px;
   margin-bottom: 10px;
   padding: 10px 19px;
   border: none;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   background-color: #FFF;
   border: 3px solid #fff;
   -webkit-transition: border-color 0.3s ease-in;
   -moz-transition: border-color 0.3s ease-in;
   -ms-transition: border-color 0.3s ease-in;
   -o-transition: border-color 0.3s ease-in;
   transition: border-color 0.3s ease-in;
   transition: all 0.3s ease-in-out;
 }
 .contact-form__textarea:hover,
 .contact-form__textarea:active,
 .contact-form__textarea:hover {
   border: 3px solid #ef6c00;
 }
 .contact-form__textarea:focus {
   outline: none;
 }
 @media (min-width: 1200px) {
   .contact-form__bg-pencil {
     position: relative;
   }
   .contact-form__bg-pencil:after {
     position: absolute;
     left: 68%;
     top: 77%;
     display: block;
     width: 203px;
     height: 153px;
     content: "";
     background-image: url("../img/bg/pencil.png");
     background-repeat: no-repeat;
     background-position: left top;
   }
 }
 .contact-form__submit {
   width: 100%;
   display: block;
   font-size: 18px;
   font-weight: 700;
   padding: 8px 47px 12px;
   text-align: center;
   color: #FFF;
   border: 4px solid #fff;
   -webkit-border-radius: 80px;
   border-radius: 80px;
   background-color: transparent;
   -webkit-transition: 0.3s ease-in;
   -moz-transition: 0.3s ease-in;
   -ms-transition: 0.3s ease-in;
   -o-transition: 0.3s ease-in;
   transition: 0.3s ease-in;
 }
 .contact-form__submit:hover {
   background-color: #FFF;
   color: #ef6c00;
 }
 .contact-form__submit:active {
   background-color: transparent;
   color: #ef6c00;
   border: 4px solid #ef6c00;
 }
 .contact-form__submit:focus {
   outline: none;
 }
 @media (min-width: 768px) {
   .contact-form__submit {
     font-size: 20px;
     width: auto;
   }
 }
 @media (min-width: 1200px) {
   .contact-form__submit {
     font-size: 22px;
   }
 }
 label.error {
   background-color: #c62828;
   position: relative;
   display: block;
   border-radius: 8px;
   color: #fff;
   font-size: 12px;
   font-weight: 700;
   padding: 5px 15px 8px;
   margin-bottom: 10px;
   margin-top: 2px;
 }
 label.error:after {
   content: "";
   position: absolute;
   bottom: 100%;
   left: 40px;
   margin-left: -12px;
   width: 0;
   height: 0;
   border-bottom: 12px solid #c62828;
   border-right: 12px solid transparent;
   border-left: 12px solid transparent;
 }
 label#phone-error.error {
   clear: both;
   width: 49%;
   float: right;
 }
 .contact-form__success {
   background-color: #FFF;
   position: relative;
   display: block;
   border-radius: 8px;
   color: #00897B;
   padding: 5px 15px 8px;
   font-weight: 700;
   margin-bottom: 15px;
   margin-top: 2px;
   font-size: 20px;
 }
 .cmn-toggle-switch {
   font-size: 0;
   position: fixed;
   z-index: 5;
   top: 23px;
   right: 16px;
   display: block;
   overflow: hidden;
   width: 50px;
   height: 45px;
   margin: 0;
   padding: 0;
   cursor: pointer;
   -webkit-transition: background .3s;
   transition: background .3s;
   text-indent: -9999px;
   border: none;
   border-radius: none;
   box-shadow: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
 }
 @media (min-width: 768px) {
   .cmn-toggle-switch {
     display: none;
   }
 }
 .cmn-toggle-switch:focus {
   outline: none;
 }
 .cmn-toggle-switch span {
   display: block;
   position: absolute;
   top: 20px;
   left: 5px;
   right: 5px;
   height: 5px;
   background: #ef6c00;
 }
 .cmn-toggle-switch span::before,
 .cmn-toggle-switch span::after {
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 5px;
   background-color: #ef6c00;
   content: "";
 }
 .cmn-toggle-switch span::before {
   top: -12px;
 }
 .cmn-toggle-switch span::after {
   bottom: -12px;
 }
 /****** Style 2 *****/
 .cmn-toggle-switch__htx {
   background: transparent;
 }
 .cmn-toggle-switch__htx span {
   -webkit-transition: background 0 0.3s;
   transition: background 0 0.3s;
 }
 .cmn-toggle-switch__htx span::before,
 .cmn-toggle-switch__htx span::after {
   -webkit-transition-duration: 0.3s, 0.3s;
   transition-duration: 0.3s, 0.3s;
   -webkit-transition-delay: 0.3s, 0;
   transition-delay: 0.3s, 0;
 }
 .cmn-toggle-switch__htx span::before {
   -webkit-transition-property: top, -webkit-transform;
   transition-property: top, transform;
 }
 .cmn-toggle-switch__htx span::after {
   -webkit-transition-property: bottom, -webkit-transform;
   transition-property: bottom, transform;
 }
 /* active state*/
 .cmn-toggle-switch__htx.active {
   position: fixed;
 }
 .cmn-toggle-switch__htx.active span {
   background: none;
 }
 .cmn-toggle-switch__htx.active span::before {
   top: 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 .cmn-toggle-switch__htx.active span::after {
   bottom: 0;
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
 }
 .cmn-toggle-switch__htx.active span::before,
 .cmn-toggle-switch__htx.active span::after {
   background-color: #E6FFF9;
   -webkit-transition-delay: 0, 0.3s;
   transition-delay: 0, 0.3s;
 }
 .contact_form_special {
   max-width: 600px;
   height: auto;
   margin: 50px auto 50px;
 }
 .contact_form_special--modal {
   margin: 0px auto 0px;
 }
 .contact_form_special h2 {
   font-size: 28px;
   margin: 0 0 0px;
 }
 .contact_form_special .subtitle {
   font-size: 18px;
   margin-bottom: 15px;
 }
 .contact_form_special label {
   width: 100%;
   margin-bottom: 10px;
   font-weight: bold;
   font-size: 18px;
   display: inline-block;
 }
 .contact_form_special input[type="text"] {
   width: 100%;
   margin-bottom: 25px;
   padding: 4px;
   font-size: 18px;
 }
 .contact_form_special textarea {
   width: 100%;
   height: 120px;
   margin-bottom: 25px;
   padding: 4px;
   font-size: 18px;
 }
 .contact_form_special input[type="submit"] {
   width: 100%;
   text-align: center;
   padding: 10px;
   font-size: 18px;
   font-weight: bold;
 }
 .thankyou {
   text-align: center;
   font-size: 18px;
 }
 .thankyou h1 {
   color: green;
   font-size: 28px;
 }
 .thankyou p {
   font-size: 18px;
 }
 .sticky-footer {
   min-height: 100%;
   margin-bottom: -120px;
 }
 .sticky-footer::after {
   content: "";
   display: block;
 }
 footer,
 .sticky-footer::after {
   height: 120px;
 }
 .header {
   position: relative;
   display: table;
   width: 100%;
   height: 390px;
   background-color: #1D6DAC;
   background-image: url("../img/bg/bg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: #FFF;
 }
 @media (min-width: 768px) {
   .header {
     height: 560px;
   }
 }
 @media (min-width: 1200px) {
   .header {
     height: 800px;
   }
 }
 .header__inner {
   display: table-cell;
   text-align: center;
   padding-top: 51px;
   padding-bottom: 60px;
   vertical-align: middle;
 }
 .header__centered-content {
   display: inline-block;
   margin-top: -60px;
 }
 @media (min-width: 768px) {
   .header__centered-content {
     margin-top: 0px;
   }
 }
 @media (min-width: 1200px) {
   .header__centered-content {
     margin-top: -162px;
   }
 }
 .header__title {
   font-size: 26px;
   font-weight: bold;
   margin: 0 0 20px;
   text-shadow: 0px 0px 40px #48779f;
 }
 .header__title:hover {
   transition: all 0.7s ease-in-out;
   color: #ff9951;
 }
 .header__title:focus,
 .header__title:active {
   transition: all 0.7s ease-in-out;
   color: #ff9951;
 }
 @media (min-width: 768px) {
   .header__title {
     font-size: 42px;
   }
 }
 @media (min-width: 1200px) {
   .header__title {
     font-size: 56px;
   }
 }
 .header__subtitle {
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 700;
   margin: 0;
   text-shadow: 0px 0px 40px #48779f;
 }
 @media (min-width: 768px) {
   .header__subtitle {
     font-size: 20px;
   }
 }
 @media (min-width: 1200px) {
   .header__subtitle {
     font-size: 26px;
   }
 }
 .header__subtitle:hover {
   transition: all 0.7s ease-in-out;
   color: #ff9951;
 }
 .header__subtitle:focus,
 .header__subtitle:active {
   transition: all 0.7s ease-in-out;
   color: #ff9951;
 }
 .contacts {
   background-color: #ff9951;
   color: #FFF;
 }
 .contacts p {
   color: #FFF;
 }
 .contacts a {
   color: #FFF;
   text-decoration: none;
   border-bottom: 1px dotted #fff;
 }
 .contacts a:hover {
   color: #ef6c00;
   text-decoration: none;
   border-bottom: 1px dotted #ef6c00;
 }
 .contacts__description {
   margin-bottom: 30px;
 }
 .copyright {
   background-color: #ef6c00;
   padding-top: 40px;
   padding-bottom: 40px;
   color: #ff9951;
 }
 .copyright p {
   color: #ff9951;
   line-height: 1.4;
   font-size: 14px;
   margin: 0 0 10px;
 }
 .copyright p.copyright__label {
   font-size: 16px;
 }
 .copyright p:last-child {
   margin-bottom: 0;
 }
 .copyright a {
   text-decoration: none;
   font-weight: 700;
   border-bottom: 1px dotted #ff9951;
   color: #ff9951;
 }
 .copyright a:hover {
   color: #FFF;
   transition: all 0.4s ease-in-out;
   border-bottom: 1px dotted #fff;
 }
 .copyright__label {
   font-size: 16px;
 }
 